*.pyc
api/*.pyc

.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

*.log
local_settings.py
db.sqlite3

.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
bugs.txt
api/search/keys.py
api/views.pyc
api/urls.pyc
api/search/__init__.pyc
api/search/lastFMSearch.pyc
api/search/musicSearch.pyc
api/search/youtubeSearch.pyc
